{% extends "base.html" %} {% block jsload %}

<script src="/static/js/chargen.js"></script>

{% endblock %} {% block content %}

<div class="card border-primary mb-3" style="max-width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">Character List</h4>

        {% for character in char_list %}
        <p>
            <i>{{character['charactername']}}</i>
            <br />
            Str {{character['strength']}}, Dex {{character['dexterity']}}, Con
            {{character['constitution']}}, Int {{character['intelligence']}},
            Wis
            {{character['wisdom']}}, Cha {{character['charisma']}};
            <br />
            ST {{character['savingthrow']}}, HP {{character['hitdie']}}, AC
            {{character['armorclass']}}, MV {{character['movement']}}, AV
            {{character['attackvalue']}}, {{character['languages']}}, Initiative
            {{character['initiativebonus']}}
            <br />

            {% if character['class'] == 'Strong' %}
            I am a big strong warrior.
            {% elif character['class'] == 'Wise' %}
            I am a dumb wizard.
            {% else %}
            I am a dumb rogue.
            {% endif %}
        </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
