{% extends "base.html" %}
{% set active_page = "index" %}

    {% block content %}
    <h1>Suldrun's Wish</h1>
    <blockquote class="blockquote">
      <p class="mb-0">Suldrun, as I remember her, was of a dreamy cast.</p>
      <footer class="blockquote-footer">
        <cite title="Source Title">Madouc</cite>
      </footer>
    </blockquote>

    <h2>Known Locations</h2>
    <p>
      The Tower of the Stargazer
    </p>

    <h2>Faction Reputation</h2>
    <p>
      <i>No factions known</i>
    </p>

    <h2>Characters</h2>
    <p>
      <i>Nine Dogs</i>
      <br />
      Str 13, Dex 13, Con 16, Int 8, Wis 7 (Pit Fighter), Cha 6(Bleeder Cult);
      <br />ST 5, HP 9, AC 4, MV 25, AV 12, Melee Special 8; Common; Flail,
      Gauntlet (Offhand), Chainmail, 42 GP
    </p>

    <h2>Memorial</h2>
    <p>
      Morgan the Deft slain by a velvet spider. <br />
      Val the Librarian slain by a vengeful wizard. <br />
      Morgan the Ranger slain by a vengeful wizard. <br />
    </p>
  </div>
  {% endblock %}