{% extends "base.html" %}
{% set active_page = "index" %}

    {% block content %}
    <h1>Suldrun's Wish</h1>
    <blockquote class="blockquote">
      <p class="mb-0">Suldrun, as I remember her, was of a dreamy cast.</p>
      <footer class="blockquote-footer">
        <cite title="Source Title">Madouc</cite>
      </footer>
    </blockquote>

    <h2>Known Locations</h2>
    <p>
      The Pool of Panur the Implacable </br>
      The Tower of the Stargazer
    </p>

    <h2>Faction Reputation</h2>
    <p>
      <i>Velvet Spiders</i></br>
      Friendly, but cautious.
    </p>

    <h2>Memorial</h2>
    <p>
      Morgan the Deft slain by a velvet spider. <br />
      Val the Librarian slain by a vengeful wizard. <br />
      Morgan the Ranger slain by a vengeful wizard. <br />
    </p>
  </div>
  {% endblock %}