{% extends "index.html" %} {% block content %}
<img src="static/boysbeambitious.png" class="img-fluid"></img>
<script src="/static/js/profile.js"></script>
</br>
</br>
<h1>Hi, {{ current_user.username}}</h1>
<p>This is your profile!</p>

<h2>Account Options</h2>

<form method="POST">
    <button class="btn btn-primary btn-sm" type="submit" name="action" value="changepass">Change Password</button>
    <button class="btn btn-primary btn-sm" type="submit" name="action" value="changeemail">Change Email</button>
    <button class="btn btn-primary btn-sm" type="submit" name="action" value="deleteaccount">Delete Account</button>
</form>


{% endblock %}

